<%- partial('_partial/head') %>

<body>
<% if (config.googletagmanager){ %>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= config.googletagmanager %>"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<% } %>
    <%- partial('_partial/header') %>
    

    <div class="container">
        <div class="main">
            <section class="inner">
                <section class="inner-main">
                    <%- body %>
                </section>
            </section>

            <% if (page.sidebar !== false){ %>
            <aside class="sidebar <% if (config.aomori_search_algolia){ %>sidebar-search-fix<% } %>">
                <%- partial('_partial/sidebar') %>
            </aside>
            <% } %>
        </div>
    </div>

    <%- partial('_partial/footer') %>

</body>

</html>