<%- partial('_partial/head') %>

<body>

    <%- partial('_partial/header') %>

    <div class="container">
        <div class="main">
            <section class="inner">
                <section class="inner-main">
                    <%- body %>
                </section>
            </section>

            <% if (config.aomori_search_algolia){ %>
            <aside class="sidebar sidebar-search-fix">
            <% } else {%> 
            <aside class="sidebar">
            <% } %>
                <%- partial('_partial/sidebar') %>
            </aside>
        </div>
    </div>

    <%- partial('_partial/footer') %>

</body>

</html>