<article id="<%= post.layout %>-<%= post._id %>" class="article article-type-<%= post.layout %>" itemscope
    itemprop="blogPost">

    <div class="article-inner">

        <% if (!post.video){ %>
          <%- partial('post/gallery') %>
        <% } %>
        
        <% if (post.video && post.layout !== 'tweet'){ %>
          <div class="article-video">
            <video class="article-video-plyr" data-poster="<%= post.video.poster %>">
              <source src="<%= post.video.src %>">
            </video>
          </div>
        <% } %>

        <% if ((post.link || post.title) && post.layout !== 'tweet'){ %>
        <header class="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
        <% } %>

        <div class="article-more-info article-more-info-<%= post.layout %> hairline">

            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>

            <% if (post.categories && post.categories.length){ %>
            <div class="article-category">
                <%- list_categories(post.categories, {
                    show_count: false,
                    class: 'article-category',
                    style: 'none',
                    separator: ',',
                    depth: 1
                }) %>
            </div>
            <% } %>

            <% if (post.tags && post.tags.length){ %>
            <div class="article-tag">
                <%- list_tags(post.tags, {
                    show_count: false,
                    class: 'article-tag',
                    amount: 3
                }) %>
            </div>
            <% } %>

            <% if (config.aomori_busuanzi){ %>
            <div class="article-busuanzi">
                有 <span id="busuanzi_value_page_pv">N</span> 人看过
            </div>
            <% } %>

        </div>

        <div class="article-entry post-inner-html hairline" itemprop="articleBody">
            <%- post.content %>
        </div>

    </div>

    <% if (post.layout !== 'tweet') { %>

    <%- partial('post/reprint') %>

    <%- partial('post/refer') %>

    <%- partial('post/copyright') %>

    <% } %>

    <%- partial('post/nav') %>

    <section class="share">
        <div class="share-title"><%= __('share') %></div>
        <a class="share-item" target="_blank"
            href="https://twitter.com/share?text=<%- post.title %> - <%- config.title %>&url=<%- post.permalink %>">
            <box-icon type='logo' name='twitter'></box-icon>
        </a>
        <a class="share-item" target="_blank"
            href="https://www.facebook.com/sharer.php?title=<%- post.title %> - <%- config.title %>&u=<%- post.permalink %>">
            <box-icon name='facebook-square' type='logo' ></box-icon>
        </a>
        <!-- <a class="share-item" target="_blank"
            href="https://service.weibo.com/share/share.php?title=<%- post.title %> - <%- config.title %>&url=<%- post.permalink %>&pic=">
            <div class="n-icon n-icon-weibo"></div>
        </a> -->
    </section>

</article>

<%- partial('post/comments') %>

<% if (config.aomori_busuanzi){ %>
<script src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>