<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article article-type-<%= post.layout %>"
  itemscope
  itemprop="blogPost"
>
  
  <div class="article-inner">

    <%- partial('post/gallery') %>

    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>

    <div class="article-more-info hairline">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <% if (post.categories && post.categories.length){ %>
        <div class="article-category">
          <%- list_categories(post.categories, {
            show_count: false,
            class: 'article-category',
            style: 'none',
            separator: ',',
            depth: 1
          }) %>
        </div>
      <% } %>
      <% if (post.tags && post.tags.length){ %>
        <div class="article-tag">
          <%- list_tags(post.tags, {
            show_count: false,
            class: 'article-tag',
            amount: 3
          }) %>
        </div>
      <% } %>
    </div>

    <div class="article-entry post-inner-html hairline" itemprop="articleBody">
      <%- post.content %>
    </div>

  </div>

  <%- partial('post/reprint') %>

  <%- partial('post/refer') %>

  <%- partial('post/copyright') %>

  <%- partial('post/nav') %>

  <section class="share">
    <div class="share-title"><%= __('share') %></div>
    <a
      class="share-item"
      target="_blank"
      href="https://twitter.com/share?text=<%- post.title %> - <%- config.title %>&url=<%- post.permalink %>"
    >
      <div class="n-icon n-icon-twitter"></div>
    </a>
    <a
      class="share-item"
      target="_blank"
      href="https://www.facebook.com/sharer.php?title=<%- post.title %> - <%- config.title %>&u=<%- post.permalink %>"
    >
      <div class="n-icon n-icon-facebook"></div>
    </a>
    <a 
      class="share-item"
      target="_blank"
      href="https://service.weibo.com/share/share.php?title=<%- post.title %> - <%- config.title %>&url=<%- post.permalink %>&pic="
    >
      <div class="n-icon n-icon-weibo"></div>
    </a>

  </section>

</article>

<% if (theme.disqus_shortname){ %>
<section class="comments">
  <div id="disqus_thread"></div>
  <script>
    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://<%- theme.disqus_shortname %>.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
</section>
<% } %>