<article
  id="<%= post.layout %>-<%= post.slug %>"
  class="article article-type-<%= post.layout %>"
>

    <div class="article-tweet article-type-<%= post.layout %>-inner">

        <ion-icon class="article-tweet-quote" name="<%= post.icon || 'balloon' %>"></ion-icon>

        <div class="article-tweet-content post-inner-html">
            <% if (post.excerpt){ %>
                <%- post.excerpt %>
            <% } else { %>
                <%- post.content %>
            <% } %>
        </div>

        <footer class="article-footer">
          <div class="article-more-info">
            <a class="article-tweet-common" href="<%- url_for(post.path) %>">评论</a>
            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
            <% if (post.categories && post.categories.length){ %>
                <div class="article-category">
                <%- list_categories(post.categories, {
                    show_count: false,
                    class: 'article-category',
                    style: 'none',
                    separator: ',',
                    depth: 1
                }) %>
                </div>
            <% } %>
            <% if (post.tags && post.tags.length){ %>
                <div class="article-tag">
                <%- list_tags(post.tags, {
                    show_count: false,
                    class: 'article-tag',
                    amount: 3
                }) %>
                </div>
            <% } %>
            </div>
        </footer>

        <div class="article-badge">
            <% if(post.sticky) { %>
            <div class="article-top">
                <ion-icon name="arrow-up"></ion-icon>
            </div>
            <% } %>
            <% if(post.link_reprint) { %>
            <div class="article-repost">
                <ion-icon name="return-down-forward"></ion-icon>
            </div>
            <% } %>
        </div>

    </div>

</article>
