<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <%
        var title = page.title;
        if (is_archive()){
        title = __('Archive');
        if (is_month()){
            title += ' | ' + page.year + '/' + page.month;
        } else if (is_year()){
            title += ' | ' + page.year;
        }
        } else if (is_category()){
            title = __('Category') + ' | ' + page.category;
        } else if (is_tag()){
            title = __('Tag') + ' | ' + page.tag;
        }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

    <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>

    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
    <% } %>

    <% if (config.gitalk || theme.gitalk){ %>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <% } %>

    <link rel="stylesheet" href="/dist/build.css?<%- theme.version %>">

    <script>
        window.aomori = {
            <% if (config.gitalk || theme.gitalk){ %>
            gitalk: {
                enable: <%= config.gitalk.enable || theme.gitalk.enable %>,
                clientID: "<%= config.gitalk.clientID %>",
                clientSecret: "<%= config.gitalk.clientSecret %>",
                repo: "<%= config.gitalk.repo %>",
                owner: "<%= config.gitalk.owner %>",
                admin: [<% config.gitalk.admin.forEach(function(item){%>"<%=item %>",<% }) %>],
                distractionFreeMode: <%= config.gitalk.distractionFreeMode %>,  // Facebook-like distraction free mode
                id: location.pathname,      // Ensure uniqueness and length less than 50
            },
            <% } %>
        }
    </script>

</head>