<div class="container">
    <header class="header">
        <div class="header-type">
            <% if (config.aomori_logo){ %>
            <div class="header-type-avatar avatar avatar-sm">
                <img src="<%= config.aomori_logo %>" alt="<%= config.author %>">
            </div>
            <% } %>
            <div class="header-type-inner">
                <% if (config.aomori_logo_typed_animated){ %>
                    <div id="typed-strings" style="display:none">
                        <p><%= config.title %></p>
                    </div>
                    <a class="header-type-title" id="typed" href="/"></a>
                <% } else { %>
                    <a class="header-type-title" href="/"><%= config.title %></a>
                <% } %>
    
                <% if (is_page()){ %>
                    <span class="header-type-page-title">| <%= page.title %></span>
                <% } %>
            </div>
        </div>
        <div class="header-menu">
            <div class="header-menu-inner">
                <% for (var i in config.aomori_menu){ %>
                <a href="<%- url_for(config.aomori_menu[i]) %>"><%= i %></a>
                <% } %>
            </div>
            <div class="header-menu-social">
                <%- partial('social') %>
            </div>
        </div>

        <div class="header-menu-mobile">
            <div class="header-menu-mobile-inner" id="mobile-menu-open">
                <i class="icon icon-menu"></i>
            </div>
        </div>
    </header>

    <div class="header-menu-mobile-menu">
        <div class="header-menu-mobile-menu-bg"></div>
        <div class="header-menu-mobile-menu-wrap">
            <div class="header-menu-mobile-menu-inner">
                <div class="header-menu-mobile-menu-close" id="mobile-menu-close">
                    <i class="icon icon-cross"></i>
                </div>
                <div class="header-menu-mobile-menu-list">
                    <% for (var i in config.aomori_menu){ %>
                    <a href="<%- url_for(config.aomori_menu[i]) %>"><%= i %></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

</div>