<% if (theme.social.facebook) { %>
  <a class="social" href="<%- theme.social.facebook %>">
    <span class="n-icon n-icon-facebook"></span>
  </a>
<% } %>

<% if (theme.social.twitter) { %>
  <a class="social" href="<%- theme.social.twitter %>">
    <span class="n-icon n-icon-twitter"></span>
  </a>
<% } %>

<% if (theme.social.weibo) { %>
  <a class="social" href="<%- theme.social.weibo %>">
    <span class="n-icon n-icon-weibo"></span>
  </a>
<% } %>

<% if (theme.social.dribbble) { %>
  <a class="social" href="<%- theme.social.dribbble %>">
    <span class="n-icon n-icon-dribbble"></span>
  </a>
<% } %>

<% if (theme.social.instagram) { %>
  <a class="social" href="<%- theme.social.instagram %>">
    <span class="n-icon n-icon-instagram"></span>
  </a>
<% } %>

<% if (theme.social.github) { %>
  <a class="social" href="<%- theme.social.github %>">
    <span class="n-icon n-icon-github"></span>
  </a>
<% } %>